body {
  width: 70%;
  margin:auto;
  background-image: url('./img/texture.jpg');
}

#site_header, #site_footer {
  color: white;
}

.logo {
  width: 100px;
  line-height: 100px;
  vertical-align: middle;
}

.logo_text {
  display: inline-block;
}

.badge {
  background: orange;
  padding: 0.3em;
  border-radius: 50%;
}

.message{
  border: 1px solid black;
}

.read{
  background: lightgrey;
}

.unread{
  background: white;
}

.col-1, .message_body {
  display: inline-block; /*inlineblock lascia sempre qualche px di margine*/
}

.subject::before{
  content:"\02605";
}

.col-1 {
  width: 40%;
}

.message_body {
  width: 58%;
  color: grey;
}

.message_body::before{
  content: "-";
}

.message_body::after{
  content: "...";
}

#site_footer {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;
}

#site_footer span {
  font-size: 13px;
}
